{{ define "GallinaType" -}}
({{.PkgName}}.{{.Name}}.t {{- range $param := .TypeParams }} {{$param}}'{{ end -}})
{{- end -}}

{{ define "GoType" -}}
({{.PkgName}}.{{.Name}} {{- range $param := .TypeParams }} {{$param}}{{ end -}})
{{- end -}}

{{ define "TypedPointstoParams" -}}
{{- range $param := . -}}`{!TypedPointsto (Σ:=Σ) {{$param}}'} {{ end -}}
{{- end -}}

{{ define "IntoValParams" -}}
{{- range $p:= . -}}
`{!ZeroVal {{$p}}'} `{!TypedPointsto (Σ:=Σ) {{$p}}'} `{!IntoValTyped {{$p}}' {{$p}}} {{/* */ -}}
`{!go.TypeRepr {{$p}} {{$p}}'} {{ end -}}
{{- end -}}

{{- range $t := .Types -}}
Module {{$t.Name}}.
Section def.

{{ if eq $.Ffi "" -}}
Context `{hG: heapGS Σ, !ffi_semantics _ _}.
{{ else -}}
Context `{!heapGS Σ}.
{{ end -}}
{{ if $.Bootstrap -}}
Context {sem_fn : GoSemanticsFunctions} {pre_sem : go.PreSemantics}.
{{ else -}}
Context {sem : go.Semantics}.
{{ end -}}
Context {package_sem' : {{$t.PkgName}}.Assumptions}.

Local Set Default Proof Using "All".

#[global] Program Instance {{$t.Name}}_typed_pointsto {{ template "TypedPointstoParams" $t.TypeParams }} :
  TypedPointsto (Σ:=Σ) {{template "GallinaType" $t}} :=
  {|
    typed_pointsto_def l dq v :=
      (
      {{ range $f := $t.Fields -}}
        "{{$f}}" ∷ l.[{{template "GallinaType" $t}}, "{{$f}}"] ↦{dq} v.({{$t.PkgName}}.{{$t.Name}}.{{$f}}') ∗
      {{ end -}}
        "_" ∷ True
      )%I
  |}.
Final Obligation. solve_typed_pointsto_agree. Qed.

#[global] Instance {{$t.Name}}_into_val_typed
  {{ template "IntoValParams" $t.TypeParams }} :
  IntoValTyped {{template "GallinaType" $t}} {{ template "GoType" $t}}.
Proof. solve_into_val_typed_struct. Qed.

End def.
End {{$t.Name}}.

{{ end -}}
