{{ define "TypedPointstoParams" -}}
{{- range $param := . -}}`{!TypedPointsto (Σ:=Σ) {{$param}}'} {{ end -}}
{{- end -}}

{{ define "GallinaType" -}}
({{.PkgName}}.{{.Name}}.t {{- range $param := .TypeParams }} {{$param}}'{{ end -}})
{{- end -}}

{{- range $t := .Types -}}
Module {{$t.Name}}.
Section def.
Context `{hG: heapGS Σ, !ffi_semantics _ _}.
(* FIXME: bundling *)
Context {core_sem : go.CoreSemantics} {pre_sem : go.PredeclaredSemantics}
  {array_sem : go.ArraySemantics} {slice_sem : go.SliceSemantics}.

Context {package_sem' : {{$t.PkgName}}.Assumptions}.
Local Set Default Proof Using "All".

#[global] Program Instance {{$t.Name}}_typed_pointsto {{ template "TypedPointstoParams" $t.TypeParams }} :
  TypedPointsto (Σ:=Σ) {{template "GallinaType" $t}} :=
  {|
    typed_pointsto_def l dq v :=
      (
      {{ range $f := $t.Fields -}}
        "{{$f}}" ∷ l.[{{template "GallinaType" $t}}, "{{$f}}"] ↦{dq} v.({{$t.PkgName}}.{{$t.Name}}.{{$f}}) ∗
      {{ end -}}
        "_" ∷ True
      )%I
  |}.
Final Obligation. solve_typed_pointsto_agree. Qed.

End def.
End {{$t.Name}}.

{{ end -}}
